* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: pink;
    user-select: none;
    -webkit-app-region: drag;
    border: 4px solid red;
    border-radius: 10px;
}

.app {
    padding: 10px;
    text-align: center;
}

.title {
    background: rgb(199, 50, 139);
    padding: 5px;
    border-radius: 20px;
    color: white;
    font-family: 'Pixelify Sans';
    cursor: pointer;
    transition: opacity 0.2s;
    -webkit-app-region: no-drag;
}

.title:hover {
    opacity: 0.8;
}

.calender {
    height: 100%;
    background: rgb(199, 50, 139);;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    align-content: center;
    border: 2px solid red;
}

#day {
    font-family: 'Pixelify Sans';
    color: white;
    font-size: 5rem;
}

#month {
    font-family: 'Pixelify Sans';
    color: white;
    font-size: 2rem;
    margin-top: -10px;
}


.color-panel.hidden {
    display: none;
}
